@import 'variables.scss';

.btn{
  @include text-button;

  border-radius: $border-radius-sm;
  padding: 16px 40px;
  transition: .2s ease-in-out;

  &--primary{
    background-color: $color-accent;
    color: white;

    &:hover{
      background-color: $color-accent-hover;
    }
  }

  &--secondary, &--secondary-outline{
    background-color: white;
    color: $color-primary;

    &:hover{
      background-color: $color-background;
    }
  }

  &--secondary-outline{
    border: 1px solid $color-primary;
  }

  &--outline{
    color: $color-primary;
    background-color: transparent;
    border: 3px solid $color-primary;

    &:hover{
      background-color: $color-background;
      border: 3px solid $color-primary-hover;
    }
    &:active{
      background-color: $color-background-dark;
      border: 3px solid $color-primary-active;
    }
  }
}