@import 'variables.scss';

.prokes{
  text-align: center;
}

.prokes__title{
  text-align: center;
  margin-bottom: $gap-mobile;
  font-family: $font-family-body;
  font-weight: 600;
}

.prokes__body{
  font-weight: normal;
}

.prokes__content{
  display: flex;
  flex-direction: column;
}

.prokes__list{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $gap-tablet;

  @media (max-width: $dimension-tablet){
    grid-template-columns: repeat(2, 1fr);
  }
}

.prokes__item{
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;

  & span{
    font-size: 16px;
    line-height: 20px;
  }

  & img{
    width: 100%;
    max-width: 80px;
  }

  @media (max-width: $dimension-mobile-l){
    & span{
      font-size: 14px;
    }
  }
}