@import 'variables.scss';

.loading__wrapper{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: $transition;
  background-color: $color-background;

  display: flex;
  justify-content: center;
  align-items: center;
}